<div class="main-container">
    <div class="comp-container" [formGroup]="formComputer">
        <mat-form-field class="example-full-width">
          <mat-label>Brand</mat-label>
          <input matInput placeholder="Ex. Lenovo" formControlName="brand"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Memoria</mat-label>
          <input type="number" matInput placeholder="" formControlName="memory" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Tamaño</mat-label>
            <input type="number" matInput placeholder="" formControlName="size" />
          </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="formComputer.invalid" (click)="saveClick()">Guardar</button>
    </div>
</div>
