<p class="title">Registra a tu Mascota</p>
<div class="main-container">
    <div class="mascotas-container" [formGroup]="formMascotas">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ex. rocket" formControlName="nombre"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Especie</mat-label>
          <input matInput placeholder="ex. perro" formControlName="especie" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Color Pelo</mat-label>
            <input matInput placeholder="ex. gris" formControlName="colorPelo" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Peso</mat-label>
            <input type="number" matInput formControlName="peso" />
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="formMascotas.invalid" (click)="mascotasClick()">Registrar</button>
    </div>
</div>
