
<mat-toolbar color="primary">
  <span>Curso Angular Elias</span>
  <button class="btn-link" mat-flat-button><a href="/login">Login</a></button>
  <button class="btn-link" mat-flat-button><a href="/pets">agregar Mascota</a></button>
  <button class="btn-link" mat-flat-button><a href="/petslist">Listar Mascotas</a></button>
  <button class="btn-link" mat-flat-button><a href="/computers">agregar computadora</a></button>
  <button class="btn-link" mat-flat-button><a href="/list">Listar computadoras</a></button>
</mat-toolbar>

<router-outlet></router-outlet>