<p class="title">Registra a tu Mascota</p>
<div class="main-container">
  <div class="pets-container" [formGroup]="formPets">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ex. rocket" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Especie</mat-label>
      <input matInput placeholder="ex. perro" formControlName="specie" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Color Pelo</mat-label>
      <input matInput placeholder="ex. gris" formControlName="hairColor" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Peso</mat-label>
      <input type="number" matInput formControlName="weight" />
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="formPets.invalid"
      (click)="savePet()"
    >
      {{textButton}}
    </button>
  </div>
</div>
